<main>
  <div class='container'>
    <h4 class='fas fa user-edit'>ユーザー情報編集</h4>
    <%= form_with model:@customer, url:public_customers_path, local: true do |f| %>
      <div class ='row user_edit'>
      <table class="table">
          <tbody>
            <tr>
              <td>氏名</td>
              <td><%= f.text_field:last_name %><%= f.text_field:first_name %></td>
            </tr>
            <tr>
              <td>カナ</td>
              <td><%= f.text_field:last_name_kana %>&nbsp;<%= f.text_field:first_name_kana %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= f.text_field:postal_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_field:address, class: 'form-control' %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= f.text_field:telephone_number %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field:email, class: 'form-control' %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit '編集登録' %>
    <% end %>
     <div class="col-xs-3">
        <%=link_to "退会する", public_customers_unsubscribe_path, class: "btn btn-danger" %>
      </div>
  </div>
</main>